@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
}



a {
    color: #ffff;
    text-decoration: none;
}

:root {
    color: #ffff;
    background: #ffff;
}

html {
    font-size: 80.5%;
}

body {
    color: #ffff;
    
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    
}

header.active {
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

/*.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s; 

}*/

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

header .logo {
    font-size: 30px;
    font-weight: 700;
}

nav a {
    font-size: 20px;
    color: #ffff;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}

nav a:hover,
nav a.active {
    /*color: #7cf03d;*/
    color: linear-gradient(135deg, #06cbda, #3273ff, #8f37d4);

}

#menu-icon {
    font-size: 2rem;
    display: none;
    
}

.bars-bx {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-bx .bar {
    width: 100%;
    height: 100%;
    /*background: #1f242d;*/
    background: linear-gradient(135deg, #06cbda, #3273ff, #8f37d4);

    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
   
}

@keyframes hide-bars {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100);
    }
}


.bars-bx.active .bar {
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
} 
/*.navbar ul {
    display: flex;

}

.navbar ul li {
    list-style: none;
    margin-left: 35px;

}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;

}*/

section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    /*background: #1f242d;*/
    background: linear-gradient(135deg, #06cbda, #3273ff, #8f37d4);

    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    
} 

section.active {
    animation: show-contents 1.5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-contents {
    100% {
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    gap: 50px;
    color: #ffff;
    visibility: hidden;
    opacity: 0;
    /*animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;*/

}

.home-info h1 {
    /*font-size: 55px;*/
    font-size: clamp(3.5rem, 10vw, 5.5rem);

}

.home-info h2 {
    display: inline-block;
    font-size: 26px;
    margin-top: -10px;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #faff00;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s*var(--i));
}

@keyframes display-text {
    25%,
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #faff00;
    color: #faff00;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,
    100% {
        width: 0;

    }
    70%,
    90% {
        width:100%;
    }
}
.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #faff00;
    border: 2px solid #faff00;
    border-radius: 40px;
    box-shadow: 0 0 10px #faff00;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;

}

.btn:hover {
    background: transparent;
    color: #faff00;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;

}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: .8rem;
    border: 2px solid #faff00;
    border-radius: 50%;
    font-size: 20px;
    color: #faff00;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover {
    background: #faff00;
    color: #1f242d;
    box-shadow: 0 0 10px #faff00;
}

.home-img .img-bx {
    position: relative;
    width: 32vw;
    height: 32vw;
    background: transparent;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-bx::before,
.home-img .img-bx::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #faff00);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;

}

.home-img .img-bx::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}
.home-img .img-bx .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .01rem solid #faff00;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;

    

}

.home-img .img-bx .img-item img {
    position: absolute;
    top: 0 px;
    display: block;
    width: 150%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

/*.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}


.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    border: 2px solid transparent;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s*var(--i));

}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
} */

.services {
    color: #ffff;
    
}

.heading {
    font-size: 4.0rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: #faff00;

}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;

}

.services-container .services-bx {
    padding: 1rem 1.5rem;
    background: #4e596d;
    border: .2rem solid #2c323d;
    border-radius: 1rem;
    transition: .5s;
}

.services-container .services-bx:hover {
    border-color: #faff00;
    transform: scale(1.02);
}

.services-bx .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.services-bx .icon i {
    font-size: 3.5rem;
    transition: .5s;
}

.services-bx:hover .icon :not(a i) {
    color: #faff00;
}

.services-bx .icon a {
    display: inline-flex;
    background: #ffff;
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.services-bx:hover .icon a {
    background: #faff00;
}

.services-bx .icon a i {
    font-size: 3rem;
    color:#1f242d;
    transform: rotate(225deg);
}

.services-bx .icon a:hover i {
    transform: rotate(180deg);
}

.services-bx h3 {
    font-size: 2rem;
    margin: .5rem 0 2rem;
    transition: .5s;
}

.services-bx:hover h3 {
    color: #faff00;
}

.services-bx p {
    font-size: 1.1rem;

}

.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-bx h2 {
    font-size: 3.0rem;

}

.resume-bx p {
    font-size: 1.3rem;

}

.resume-bx .desc {
    margin: 2rem 0 2.5rem;
}

.resume-bx .resume-btn {
    width: 100%;
    height: 5.3rem;
    background: #2c323d;
    border: .2rem solid #2c323d;
    font-size: 1.4rem;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}

.resume-bx .resume-btn.active {
    border-color: #faff00;
    color: #faff00;

}

.resume-detail {
    display: none;
}

.resume-detail.active {
    display: block;
}

.resume-bx .heading {
    font-size: 2.5rem;
    text-align: left;

}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}
.resume-list::-webkit-scrollbar {
    width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb {
    background: #faff00;
}


.resume-list .resume-item {
    background: #2c323d;
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.resume-item .year {
    color:#faff00;
    font-size: 1.2rem;
    
}


.resume-item h3 {
    font-size: 1.5rem;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
        
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: #faff00;
    border-radius: 20%;
    margin-left: -2rem;
}

.resume-item .lorem {
    font-size: 13px;
}
.resume-detail.skills .resume-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skills .resume-item {
    position: relative;
    align-items: center;
    height: auto;
}

.resume-detail.skills .resume-item i {
    font-size: 8.5rem;
    transition: .5s;

}

.resume-detail.skills .resume-item:hover i {
    color: #faff00;
}

.resume-detail.skills .resume-item span {
    position: absolute;
    top: -20%;
    background: #ffff;
    color: #1f242d;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
}

.resume-detail.skills .resume-item:hover span {
    top: -25%;
    opacity: 1;
    transform: scale (1);

}

.resume-detail.about .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  
}

.resume-detail.about .resume-item {
    height: auto;
    padding: 0 0 .8rem;
    background: transparent;
}

.resume-detail.about .resume-item p {
    color:#faff00;

}

.resume-detail.about .resume-item p span {
    color: #ffff;
    margin-left: 1rem;
    font-size: 1.1rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.portfolio-detail {
    display: none;
}

.portfolio-detail.active {
    display: block;
}

.portfolio-bx .numb {
    font-size: 3rem;
    -webkit-text-stroke: .07rem #ffff;
    color: transparent;
    line-height: 1;
}

.portfolio-bx h3 {
    font-size: 1.5rem;
    margin: .8rem 0 2rem;

}

.portfolio-bx p {
    font-size: 1.1rem;

}

.portfolio-bx .tech {
    margin: 2rem 0;
    color: #faff00;
    border-bottom: .1rem solid #ffff;
    padding-bottom: 2rem;

}

.portfolio-bx .live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 1.5rem;
    color: #ffff;
    border-radius: 50%;
    background: #4e596d;
    transition: .5s;
}

.portfolio-bx .live-github a:hover {
    color: #faff00;
}

.portfolio-bx .live-github a:first-child {
    margin-right: 1.5rem;

}

.portfolio-bx .live-github a:first-child i {
    transform: rotate(135deg);
}

.portfolio-bx .live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.1rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: #ffff;
    color: #1f242d;
    opacity: 0;
    transition: .2s;

}

.portfolio-bx .live-github a:hover span {
    top: -70%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.portfolio-bx .portfolio-carousel {
    width: 75%;
    height: 25rem;
    border-radius: 1rem;
    overflow: hidden;
    

}



.portfolio-carousel .img-item {
    height: inherit;
}

.portfolio-carousel .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.portfolio-bx .navigation {
    text-align: right;
    margin-top: 2rem;
}

.portfolio-bx .navigation button {
    display: inline-flex;
    padding: .4rem;
    background: #2c323d;
    border: .2rem solid #faff00;
    border-radius: .6rem;
    font-size: 1.9rem;
    color: #faff00;
    cursor: pointer;
}

.portfolio-bx .navigation button.disabled {
    border-color: #2c323d;
    color: #4e596d;
}

.portfolio-bx .navigation .arrow-right {
    margin-left: 1.5rem;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 1.1rem;
}

.contact-container .contact-bx:first-child {
    align-self: center;
}

.contact-bx {
    font-size: 1.8rem;
}

.contact-bx p {
    font-size: 1.1rem;
}

.contact-bx .desc {
    margin: 1.5rem 0 2.5rem;
}

.contact-bx .contact-detail {
    display: flex;
    align-items: center;
    margin: 0.9rem 0;
}

.contact-detail i {
    display: inline-flex;
    background:#4e596d;
    color: #faff00;
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}

.contact-detail .detail p:first-child {
    color: #faff00;
}

.contact-bx form {
    background: #4e596d;
    padding: 2.5rem 1.5rem 1.5rem;
    text-align: center;
    border-radius: 1rem;
}

.contact-bx .heading {
    font-size: 2.5rem;
}

.contact-bx .field-bx {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.contact-bx .field-bx input,
.contact-bx .field-bx textarea {
    padding: 0.4rem;
    background: #1f242d;
    border: .13rem solid #1f242d;
    border-radius: .6rem;
    font-size: 1.1rem;
    color: #ffff;
    transition: .1s ease-in;
}

.contact-bx .field-bx textarea {
    grid-column: 1/ -1;
    height: 8.5rem;
    resize: none;
}

.contact-bx .field-bx input:hover,
.contact-bx .field-bx textarea:hover {
        border-color: #faff00;
        
}


.contact-bx .btn {
    margin-top: 1.4rem;
    cursor: pointer;
}

/* breakpoints */
@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    
}

@media screen and (max-width: 992px) {
    header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
}

@media screen and (max-width: 810px) {
    .contact-bx .field-bx {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: #1f242d;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        margin: 4rem 0;

    }
    .home {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
        
    }
    .home-img .img-bx {
        width: 35rem;
        height: 35rem;

    }

    .resume-container,
    .portfolio-container,
    .contact-container {
        grid-template-columns: 1fr;
    }
    .resume-container {
        gap: 3rem;
    }

    .portfolio-container .portfolio-bx:first-child {
        order: 1;
    }

    .contact-bx .field-bx {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .home-img .img-bx {
        width: 30rem;
        height: 30rem;

    }
    .contact-bx .field-bx {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 400px) {
    .home-info,
    .resume-bx h2,
    .resume-bx .heading,
    .resume-bx .desc,
    .resume-detail.about .resume-item {
        text-align: center;
    }

    .home-info .btn-sci {
        flex-direction: column-reverse;
    }
    
    .home-info .btn-sci .sci {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .contact-bx form {
        padding: 2.5rem 3rem 3.5rem;
    }

    .contact-bx h2 {
        font-size: 3.5rem;
    }
}